@charset "UTF-8";
/**/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Noto Sans", "Roboto", Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
}
/**/
.error-alert {display: none}
.block {display: block;}
.callout p {
    margin-bottom: 0;
    font-size: 14px;
}
